body {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    color: #CCC;
    background-color: #333;
    background-image: url('images/tactile_noise.png');
    background-repeat: repeat;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

.profile_picture {
    border-radius: 5%;
    border: 5px solid #CCC;
}

.icons {
    font-size: 2em;
}

.icons a {
    text-decoration: none;
    color: inherit;
}